<div id="sub_main">
  <div class="text-center header">
    <strong>Add Activity</strong>
  </div>
  <div class="form" style="width:100%">
    <form>
      <fieldset style="border:0px;">
        <div class="form-group">
          <div class="row">
            <label class="col-xs-6 form-label" for="id_type">Type:</label><br />
          </div>
          <div class="row">
            <div class="col-xs-6">
              <select id="id_type" class="form-control" name="type">
                <option value="" selected="selected">-------</option>
                <option value="couch25k">Couch25K</option>
                <option value="trail">Trail Running</option>
                <option value="hike">Hike</option>
                <option value="walk">Walk</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-xs-9 form-label" for="id_type">Route:</label><br />
          </div>
          <div class="row">
            <div class="col-xs-9">
              <select id="id_route" class="form-control" name="route">
                <option value="" selected="selected">-------</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
