<div id="sub_main">
  <div class="text-center header">
    <strong>Add Activity</strong>
  </div>
  <div class="form" style="width:100%">
    <form>
      <fieldset>
        <div class="form-group">
          <div class="row">
            <label class="col-xs-6 form-label" for="id_type">Type:</label>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <select id="id_type" class="form-control" name="type">
                <option value="" selected="selected">-------</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-xs-9 form-label" for="id_route">Route:</label>
          </div>
          <div class="row">
            <div class="col-xs-9">
              <select id="id_route" class="form-control" name="route">
                <option value="" selected="selected">-------</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-xs-9 form-label" for="date">Date:</label>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <input id="date" class="form-control" value="" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-xs-9 form-label" for="time">Time(hh:mm:ss):</label>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <input id="time" class="form-control" value="" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-xs-9 form-label" for="metres">Metres:</label>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <input id="metres" class="form-control" value="" />
            </div>
          </div>
        </div>
        <div class="checkbox">
          <div class="row">
            <div class="col-xs-12">
              <label class="form-label" for="exclude_from_pb">
                <input type="checkbox" id="exclude_from_pb" />
                <strong>Exclude from Personal Bests:</strong>
              </label>
            </div>
          </div>
        </div>
        <div class="buttons">
          <a data-bind="attr.href:href" href="">
            <button type="button" class="btn btn-default">
              Cancel
            </button>
          </a>
          <button type="button" class="btn btn-primary">
            Save
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
