<div class="form">
    <fieldset>
        <legend>Reset Password</legend>
        <form>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" data-bind="value: Email" />
            </div>
        </form>
        <div class="buttons">
            <a data-bind="attr.href:href" href="">
                <button type="button" class="btn btn-default">
                    Cancel
                </button>
            </a>
            <button type="button" class="btn btn-primary">
                Reset
            </button>
        </div>
    </fieldset>
</div>