<div id="view_activity_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="width:600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">View activity</h4>
      </div>
      <div class="modal-body">
        Hello World
        <!-- ko if: activity.id  -->
          <h1>WE HAVE DATA</h1>
          <h1 data-bind="text: $activity.id"></h1>
        <!-- /ko -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                data-bind="click: function(data, event) { savePersonalBests(); }">
          Edit
        </button>
        <button type="button" class="btn btn-danger"
                data-bind="click: function(data, event) { savePersonalBests(); }">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
