<table class="runs table table-condensed table-hover">
  <thead>
    <tr class="table_nav">
      <td colspan="5">
        <i id="add_run" class="glyphicon glyphicon-plus pull-right"></i>
        <div class="table_title">
          <!-- ko if: activities.current_page() > 1 -->
            <span title="Previous Page" class="pointer pull-left"
                  data-bind="click: function(data, event) { activities.load('prev'); }">
              &laquo;&laquo;
            </span>
          <!-- /ko -->
          Activities
          <!-- ko if: activities.has_more_activities() -->
            <span title="Next Page" class="pointer pull-right"
                  data-bind="click: function(data, event) { activities.load('next'); }">
              &raquo;&raquo;
            </span>
          <!-- /ko -->
        </div>
      </td>
    </tr>
    <tr>
      <td style="width:35%"><strong>Date</strong></td>
      <td style="width:17%"><strong>Type</strong></td>
      <td style="width:15%"><strong>Time(h:m:s)</strong></td>
      <td style="width:20%"><strong>Distance(Km)</strong></td>
      <td style="width:15%" class="text-center">-</td>
    </tr>
  </thead>
  <tbody>
    <!-- ko if: !activities.has_activities() -->
      <tr>
        <td colspan="5"><strong>Loading...</strong></td>
      </tr>
    <!-- /ko -->
    <!-- ko if: activities.has_activities()  -->
      <!-- ko foreach: activities.activities() -->
        <tr data-bind="click: function(data, event) { $parent.page('/activity/'+id); }">
          <td>
            <div data-bind="text: activity_date"></div>
          </td>
          <td>
            <div data-bind="text: activity_type"></div>
          </td>
          <td>
            <div class="text-right" data-bind="text: time"></div>
          </td>
          <td>
            <div class="text-right" data-bind="text: distance"></div>
          </td>
          <td class="text-center">
            <i class="glyphicon glyphicon-edit" title="Add activity"></i>
            <i class="glyphicon glyphicon-trash" title="Delete activity"></i>
          </td>
        </tr>
      <!-- /ko -->
    <!-- /ko -->
  </tbody>
</table>
