<table class="runs table table-condensed table-hover">
  <thead>
    <tr class="table_nav">
        <td colspan="5">
            <i id="add_run" class="glyphicon glyphicon-plus pull-right"></i>
            <div class="table_title">
                            <span title="Previous Page" class="pull-left">
                                &laquo;&laquo;
                            </span>
                Activities
                            <span title="Next Page" class="pull-right">
                                &raquo;&raquo;
                            </span>
            </div>
        </td>
    </tr>
    <tr>
      <td style="width:35%"><strong>Date</strong></td>
      <td style="width:17%"><strong>Type</strong></td>
      <td style="width:15%"><strong>Time(h:m:s)</strong></td>
      <td style="width:20%"><strong>Distance(Km)</strong></td>
      <td style="width:15%" class="text-center">-</td>
    </tr>
  </thead>
  <tbody>
    <!-- ko foreach: activities -->
      <tr>
        <td>
          <div data-bind="text: activity_date"></div>
        </td>
        <td>
          <div data-bind="text: activity_type"></div>
        </td>
        <td>
          <div class="text-right" data-bind="text: time"></div>
        </td>
        <td>
          <div class="text-right" data-bind="text: distance"></div>
        </td>
        <td class="text-center">
            <i class="glyphicon glyphicon-edit" title="Add activity"></i>
            <i class="glyphicon glyphicon-trash" title="Delete activity"></i>
        </td>
      </tr>
    <!-- /ko -->
  </tbody>
</table>
