<div id="header">
    <div id="welcome">
        <div id="header_menu" class="dropdown pull-right">
            <span class="dropdown-toggle glyphicon glyphicon-menu-hamburger"
                  data-toggle="dropdown" title="Menu"></span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                    <a role="menuitem" href="/">
                        Edit user
                    </a>
                </li>
                <li>
                    <a role="menuitem" href="/">
                        Activity types
                    </a>
                </li>
                <li>
                    <a role="menuitem" href="/">
                        Split calculator
                    </a>
                </li>
                <li>
                    <a role="menuitem" href="/">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="header_content">
        <h1><a data-bind="attr.href:href" href="">RunTracker</a></h1>
    </div>
</div>