<div id="personal_bests_management_modal"
     class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Configure personal bests</h4>
            </div>
            <div class="modal-body">
                <table class="runs table table-condensed table-hover">
                    <thead>
                        <tr class="table_nav">
                            <td>Title</td>
                            <td>Type</td>
                            <td>Activity</td>
                            <td>Min distance(km)</td>
                            <td>Max distance(km)</td>
                            <td class="text-center">-</td>
                        </tr>
                    </thead>
                    <tbody id="personal_bests_edit">
                        <!-- ko foreach: personal_bests -->
                            <tr>
                                <td>
                                    <input name="" type="text" value="" data-bind="value: title" />
                                </td>
                                <td>
                                    <input name="" type="text" value="" data-bind="value: type" />
                                </td>
                                <td>
                                    <input name="" type="text" value="" data-bind="value: activity_ids" />
                                </td>
                                <td>
                                    <input name="" type="text" value="" size="4"
                                           data-bind="value: min_distance" />
                                </td>
                                <td>
                                    <input name="" type="text" value="" size="4"
                                           data-bind="value: max_distance" />
                                </td>
                                <td style="width:1%">
                                    <i class="glyphicon glyphicon-trash" title="Delete run"></i>
                                </td>
                            </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                        data-bind="click: function(data, event) { savePersonalBests(); }">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<div id="control_panel">
    <table class="runs table table-condensed table-hover">
        <thead>
            <tr class="table_nav">
                <td colspan="2">
                    <i id="configure_personal_bests" title="Configure personal bests"
                       data-bind="click: function(data, event) { managePersonalBests(); }"
                       class="glyphicon glyphicon-wrench pull-right"></i>
                    <div class="table_title">Personal Bests</div>
                </td>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: personal_bests -->
                <tr title="View more"
                    data-bind="click: function(data, event) { $parent.redirectToPersonalBest(id); }">
                    <td class="stats_title" data-bind="text: title"></td>
                    <td data-bind="text: value"></td>
                </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>
