<table border="1" width="100%">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Route</th>
        <th>Time(hh:mm:ss)</th>
        <th>Distance(km)</th>
        <th>Average Pace(min/km)</th>
        <th>5K Time(hh:mm:ss)</th>
        <th>Complete</th>
    </tr>
    {% for run in runs %}
        <tr>
            <td>{{run.date}}</td>
            <td>{{run.type}}</td>
            <td>{{run.route}}</td>
            <td>{{run.duration}}</td>
            <td>{{run.km}}</td>
            <td>{{run.min_per_km}}</td>
            <td>{{run.five_k_time}}</td>
            <td>
                {% if run.complete %}
                    yes
                {% else %}
                    no
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>