{% load templatetags %}

<span style="float:right;">
    <h3>Who</h3>
    <ul>
        <li><a href="/david/">David</a></li>
        <li><a href="/claire/">Claire</a></li>
        <li><a href="/">Anyone</a></li>
    </ul>
</span>
<h3>Filter</h3>
<ul>
    <li><a href="/{{who}}/">Everything</a></li>
    <li><a href="/{{who}}/?run=1">Runs</a></li>
</ul>

<table border="1" width="100%" cellpadding="3">
    <tr>
        <th colspan="11">
            <span style="float:right">
                <a href="/{{who}}/?run={{run}}&month={{next_month}}&year={{next_year}}">
                    next
                </a>
            </span>
            <span style="float:left">
                <a href="/{{who}}/?run={{run}}&month={{previous_month}}&year={{previous_year}}">
                    previous
                </a>
            </span>
        </th>
    </tr>
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Run</th>
        <th>Treadmill</th>
        <th>Route</th>
        <th>Time(hh:mm:ss)</th>
        <th>Distance(km)</th>
        <th>Average Pace(km/hr)</th>
        <th>Average Pace(min/km)</th>
        <th>5K Time(hh:mm:ss)</th>
        <th>Complete</th>
    </tr>
    {% if not runs %}
        <tr>
            <td colspan="11">No Results Found.</td>
        </tr>
    {% else %}
        {% for run in runs %}
            <tr>
                <td>{{run.date}}</td>
                <td>{{run.type}}</td>
                <td style="text-align:center;">
                    {% if run.run %}
                        yes
                    {% else %}
                        no
                    {% endif %}
                </td>
                <td style="text-align:center;">
                    {% if run.treadmill %}
                        yes

                    {% else %}
                        no
                    {% endif %}
                </td>
                <td>{{run.route}}</td>
                <td style="text-align:right;">{{run.seconds|convert_seconds}}</td>
                <td style="text-align:right;">{{run.metres|convert_metres}}</td>
                <td style="text-align:right;">{{run.km_per_hr|two_decimals}}</td>
                <td style="text-align:right;">{{run.min_per_km|two_decimals}}</td>
                <td style="text-align:right;">{{run.five_k_time|convert_seconds}}</td>
                <td style="text-align:center;">
                    {% if run.complete %}
                        yes
                    {% else %}
                        no
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="text-align:right;">
                <strong>{{total_time|convert_seconds}}</strong>
            </td>
            <td style="text-align:right;">
                <strong>{{total_distance|convert_metres}}</strong>
            </td>
            <td style="text-align:right;">
                <strong>{{average_km_per_hr|two_decimals}}</strong>
            </td>
            <td style="text-align:right;">
                <strong>{{average_pace|two_decimals}}</strong>
            </td>
            <td style="text-align:right;">
                <strong>{{average_5k|convert_seconds}}</strong>
            </td>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
</table>
