{% load templatetags %}

<table border="1" width="100%" cellpadding="3">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Treadmill</th>
        <th>Route</th>
        <th>Time(hh:mm:ss)</th>
        <th>Distance(km)</th>
        <th>Average Pace(min/km)</th>
        <th>5K Time(hh:mm:ss)</th>
        <th>Complete</th>
    </tr>
    {% for run in runs %}
        <tr>
            <td>{{run.date}}</td>
            <td>{{run.type}}</td>
            <td style="text-align:center;">
                {% if run.treadmill %}
                yes
                {% else %}
                no
                {% endif %}
            </td>
            <td>{{run.route}}</td>
            <td style="text-align:right;">{{run.seconds|convert_seconds}}</td>
            <td style="text-align:right;">{{run.metres|convert_metres}}</td>
            <td style="text-align:right;">{{run.min_per_km|two_decimals}}</td>
            <td style="text-align:right;">{{run.five_k_time|convert_seconds}}</td>
            <td style="text-align:center;">
                {% if run.complete %}
                    yes
                {% else %}
                    no
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="text-align:right;">
            <strong>{{total_time|convert_seconds}}</strong>
        </td>
        <td style="text-align:right;">
            <strong>{{total_distance|convert_metres}}</strong>
        </td>
        <td style="text-align:right;">
            <strong>{{average_pace|two_decimals}}</strong>
        </td>
        <td style="text-align:right;">
            <strong>{{average_5k|convert_seconds}}</strong>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>