body {
    background:#f2f2e9;
    font-family: "Trebuchet MS";
    font-size:13px;
}
.container-fluid {
    border:1px solid #000;
    width:1100px;
    background:#FFF;
    padding:0;
    margin:20px auto 20px auto;
}
#header {
    background:#000;
    height:60px;
    border-bottom:1px solid #000;
    color:#FFF;
}
#welcome {
    float:right;
    padding:10px 20px 0 0;
    font-weight:bold;
    font-size:0.9em;
}
#welcome a {
    color:#000;
    text-decoration:underline;
}
#welcome a:hover {
    cursor:pointer;
}
#header_content {
    padding:15px 0 0 15px;
}
#header_content h1 {
    color:#FFF;
    font-weight:bold;
    margin:0;
    padding:0;
    font-size:1.7em;
}
#header a {
    color:#FFF;
    text-decoration:none;
}
div#home_text {
    width:80%;
    padding-top:50px;
    margin:0 auto;
    font-size:1.2em;
}
div#home_text div#links {
    margin-top:35px;
}
div#home_text div#links span {
    margin:0px 10px 0px 10px;
}
div#home_text div#links a {
    color:#000;
    text-decoration: none;
    font-weight:bold;
    font-size:1.05em;
}
div#home_text > div#links {
    text-align:center;
}
div#main {
    clear:both;
    min-height:500px;
    padding:10px;
}
div#left_container {
    width:380px;
}
div#control_panel {
    margin-bottom:10px;
}
div.table_title {
    width:50%;
    margin:auto;
    text-align:center;
    font-weight:bold;
}
table.runs td.blanked {
    background-color:#000;
    border:1px solid #000;
}
table.runs tr.table_nav i {
    color:#FFF;
}
table.runs tr.table_nav {
    background-color:#000;
    color:#FFF;
}
table.runs tr.table_nav td {
    vertical-align: middle;
    font-weight: bold;
}
table.runs td > a {
    color:#000000;
    text-decoration: underline;
}
table.runs td {
    line-height:13px;
}
table.runs td:not(:last-child) {
    border-right:1px solid #ddd;
}
table.runs tbody tr {
    cursor:pointer;
}
table.runs tbody tr > td.run {
    text-align:right;
}
table.runs tbody tr > td.success {
    color:#32CD32;
    font-weight:bold;
}
table.runs tbody tr > td.danger {
    color:#FF0000;
    font-weight:bold;
}
tbody tr:hover td[rowspan] {
    background-color: #FFFFFF;
}
table.runs td.date_width {
    width:40%;
}
table.runs td.width_20 {
    width:20%;
}
table.runs td.width_28 {
    width:28%;
}
table.runs td.width_12 {
    width:12%;
    text-align:center;
}
table.runs td.stats_title {
    width:30%;
    font-weight:bold;
}
table.runs th {
    vertical-align:middle;
    border:1px solid #FFF;
}
table.runs th.title {
    text-align:center;
    height:35px;
    vertical-align: middle;
}
tr.table_nav {
    background-color:#000;
    color:#FFF;
}
div#graph {
    float:right;
    width:680px;
    min-height:500px;
    margin:0px 0 10px 5px;
    position:relative;
}
div#activity_graph {
    width:100%;
    background-color:lightgray;
    margin-bottom:10px;
    height:400px;
}
div.form {
    width:50%;
    margin:0 auto;
}
div.form fieldset {
    padding:15px;
    border:1px solid #000;
}
div.form legend {
    width:inherit;
    padding:0px 10px;
    border-bottom:none;
    font-size:1.15em;
}
div.form div.buttons {
    float:right;
}
div.form form {
    padding:0px 50px 35px 50px;
}
div.form div.error {
    color:#FF0000;
}
p.form-warning {
    margin-top:20px;
    padding:5px;
    border:1px solid #a94442;
    width:350px;
}
#footer {
    clear:both;
    border-top:1px solid #000;
    font-size:0.75em;
    padding-left:10px;
    background-color:#000;
    color:#FFF;
    font-weight:bold;
}