<div id="graph">
    <div id="activity_graph" class="text-center">
        <strong>activity graph</strong>
    </div>
    <table class="runs table table-condensed table-hover">
        <thead>
            <tr class="table_nav">
                <th class="title" colspan="7">
                    <!-- ko if: $component.year || $component.month -->
                        <div class="dropdown pull-right">
                            <button class="btn btn-xs btn-default dropdown-toggle"
                                    type="button" id="action_dropdown" data-toggle="dropdown">
                                Actions&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="action_dropdown">
                                <!-- ko if: $component.month -->
                                    <li>
                                        <a role="menuitem"
                                           data-bind="attr: {href: 'runs/'+$component.year+'/'}">
                                            Monthly summary
                                        </a>
                                    </li>
                                <!-- /ko -->
                                <!-- ko if: $component.year && !$component.month -->
                                    <li>
                                        <a role="menuitem" href="runs/">
                                            Annual summary
                                        </a>
                                    </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    <!-- /ko -->
                    <div class="table_title">
                        <!-- ko if: !$component.year -->
                            Annual Activity Summary
                        <!-- /ko -->
                        <!-- ko if: $component.year && !$component.month -->
                            Monthly Activity Summary
                            (<span data-bind="text: $component.formatDate($component.year)"></span>)
                        <!-- /ko -->
                        <!-- ko if: $component.year && $component.month -->
                            Monthly Activities
                            (<span data-bind="text: $component.formatDate($component.year+'-'+$component.month)"></span>)
                        <!-- /ko -->
                    </div>
                </th>
            </tr>
            <tr class="table_nav">
                <th style="width:20%">
                    Date
                    <!-- ko if: $component.flattenedActivityDisplay('All') && $component.has_data -->
                        <i data-bind="click: $component.toggleActivityData.bind(false, 'all'),
                                      attr: {id: 'toggle_date_all'}"
                           class="glyphicon glyphicon-menu-down pull-right"
                           title="Expand all dates"></i>
                    <!-- /ko -->
                </th>
                <th style="width:20%">
                    Activity
                    <!-- ko if: $component.has_data -->
                        <div class="dropdown pull-right">
                            <span class="dropdown-toggle"
                                  id="activity_filter_dropdown" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-filter pull-right"
                                      title="Filter by activity"></span>
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="filter_dropdown">
                                <!-- ko foreach: $component.activity_types -->
                                <li>
                                    <a role="menuitem"
                                       data-bind="click: function(data, event) { $component.filterActivities(id);}"     >
                                        <input type="checkbox"
                                               data-bind="attr: {id: 'activity_filter_checkbox_' + id},
                                                          checked: $component.activityFilterChecked(id)" />
                                        <span data-bind="text: activity_type"></span>
                                    </a>
                                </li>
                                <!-- /ko -->
                                <li>
                                    <a role="menuitem" style="padding-left:35px;"
                                       data-bind="click: function(data, event) { $component.filterActivities(false);}">
                                        <strong>Clear all filters</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <!-- /ko -->
                </th>
                <!-- ko if: !$component.month -->
                    <th style="width:10%">Count</th>
                <!-- /ko -->
                <th class="text-center">Time<br />(hh:mm:ss)</th>
                <th class="text-center">Distance<br />(km)</th>
                <th class="text-center">Avg Pace<br />(hh:mm:ss/km)</th>
                <th class="text-center">Avg Speed<br />(km/hr)</th>
            </tr>
        </thead>
        <!-- ko if: !$component.has_data -->
            <tbody>
                <tr>
                    <td colspan="7" class="text-center text-danger">
                        <strong>No activities found</strong>
                    </td>
                </tr>
            </tbody>
        <!-- /ko -->
        <tbody data-bind="foreach: runs">
            <!-- ko foreach: activities -->
                <tr>
                    <!-- ko if: $index() === 0 -->
                        <td data-bind="attr: {rowspan: function(){return $parent.activities.length;}()}">
                            <!-- ko if: !$component.month -->
                                <a data-bind="text: $component.formatDate($parent.date),
                                              attr: {href: 'runs/'+$parent.date+'/'}"></a>
                            <!-- /ko -->
                            <!-- ko if: $component.month -->
                                <span data-bind="text: $component.formatDate($parent.date)"></span>
                            <!-- /ko -->
                            <!-- ko if: $component.flattenedActivityDisplay('All') -->
                                <i data-bind="click: $component.toggleActivityData.bind($data, $parent.date),
                                              attr: {id: 'toggle_date_'+$parent.date}"
                                   class="glyphicon glyphicon-menu-down pull-right"></i>
                            <!-- /ko -->
                        </td>
                    <!-- /ko -->
                    <td data-bind="visible: $component.flattenedActivityDisplay(activity),
                                   attr: {'class': 'date_'+$parent.date,
                                          'data-activity': activity}">
                        <span data-bind="text: activity"></span>
                    </td>
                    <!-- ko if: !$component.month -->
                        <td data-bind="visible: $component.flattenedActivityDisplay(activity),
                                       attr: {'class': 'date_'+$parent.date,
                                              'data-activity': activity}">
                            <div class="text-right"
                                 data-bind="text: activity_count"></div>
                        </td>
                    <!-- /ko -->
                    <td data-bind="visible: $component.flattenedActivityDisplay(activity),
                                   attr: {'class': 'date_'+$parent.date,
                                          'data-activity': activity}">
                        <div class="text-right"
                             data-bind="text: display_seconds"></div>
                    </td>
                    <td data-bind="visible: $component.flattenedActivityDisplay(activity),
                                   attr: {'class': 'date_'+$parent.date,
                                          'data-activity': activity}">
                        <div class="text-right" data-bind="text: km"></div>
                    </td>
                    <td data-bind="visible: $component.flattenedActivityDisplay(activity),
                                   attr: {'class': 'date_'+$parent.date,
                                          'data-activity': activity}">
                        <div class="text-right"
                             data-bind="text: display_average_pace_time"></div>
                    </td>
                    <td data-bind="visible: $component.flattenedActivityDisplay(activity),
                                   attr: {'class': 'date_'+$parent.date,
                                          'data-activity': activity}">
                        <div class="text-right"
                             data-bind="text: display_average_pace_distance"></div>
                    </td>
                </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>
<div id="left_container">
    <div id="control_panel">
        <table class="runs table table-condensed table-hover">
            <thead>
                <tr class="table_nav">
                    <td colspan="2">
                        <div class="table_title">Personal Bests</div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="stats_title">Longest run</td>
                    <td>
                        6k on 23rd September at 00:05:00 per km
                    </td>
                </tr>
                <tr>
                    <td class="stats_title">Fastest run</td>
                    <td>
                        6k on 23rd September at 00:05:00 per km
                    </td>
                </tr>
                <tr>
                    <td class="stats_title">Fastest 5K</td>
                    <td>
                        25 minutes at 00:05:00 per km
                    </td>
                </tr>
                <tr>
                    <td class="stats_title">Longest walk</td>
                    <td>
                        27k on 23rd September
                    </td>
                </tr>
                <tr>
                    <td class="stats_title">Longest hike</td>
                    <td>
                        19k on 23rd September
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="runs table table-condensed table-hover">
            <thead>
                <tr class="table_nav">
                    <td colspan="5">
                        <i id="add_run" class="glyphicon glyphicon-plus pull-right"></i>
                        <div class="table_title">
                            <span title="Previous Page" class="pull-left">
                                &laquo;&laquo;
                            </span>
                            Activities
                            <span title="Next Page" class="pull-right">
                                &raquo;&raquo;
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="date_width"><strong>Date</strong></td>
                    <td class="width_28"><strong>Type</strong></td>
                    <td class="width_20"><strong>Distance(Km)</strong></td>
                    <td class="width_12">-</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <i class="glyphicon glyphicon-edit" title="Add run"></i>
                        <i class="glyphicon glyphicon-trash" title="Delete run"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>