<div>
    <table border="1" width="100%" cellpadding="3">
        <tbody>
            <tr>
                <th colspan="11">
                <span style="float:right">
                    <a href="/david/?run=1&amp;month=10&amp;year=2016">
                        next
                    </a>
                </span>
                <span style="float:left">
                    <a href="/david/?run=1&amp;month=8&amp;year=2016">
                        previous
                    </a>
                </span>
                </th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Run</th>
                <th>Treadmill</th>
                <th>Route</th>
                <th>Time(hh:mm:ss)</th>
                <th>Distance(km)</th>
                <th>Avg Pace(km/hr)</th>
                <th>Avg Pace(hh:mm:ss/km)</th>
                <th>5K Time(hh:mm:ss)</th>
            </tr>
            <tr>
                <td>Sept. 1, 2016</td>
                <td>couch25k</td>
                <td style="text-align:center;">yes</td>
                <td style="text-align:center;">yes</td>
                <td>C210K Week3 Day 3</td>
                <td style="text-align:right;">00:27:01</td>
                <td style="text-align:right;">4.030</td>
                <td style="text-align:right;">8.95</td>
                <td style="text-align:right;">00:06:42</td>
                <td style="text-align:right;">00:33:31</td>
            </tr>
        </tbody>
    </table>
</div>