<div id="sub_main">
    <table class="runs table table-condensed table-hover">
        <thead>
          <tr class="table_nav">
              <th class="title" colspan="7">
                  <div class="table_title" data-bind="text: title"></div>
              </th>
          </tr>
          <tr class="table_nav">
              <th class="text-center" style="width:20%">Date</th>
              <th class="text-center" style="width:20%">Activity</th>
              <th class="text-center">Time<br />(h:m:s)</th>
              <th class="text-center">Distance<br />(km)</th>
              <th class="text-center">Avg Pace<br />(h:m:s/km)</th>
              <th class="text-center">Avg Speed<br />(km/hr)</th>
          </tr>
        </thead>
        <!-- ko if: !activities -->
            <tbody>
                <tr>
                    <td colspan="7" class="text-center text-danger">
                        <strong>No activities found</strong>
                    </td>
                </tr>
            </tbody>
        <!-- /ko -->
        <tbody>
            <!-- ko foreach: activities -->
                <tr>
                    <td>
                        <div data-bind="text: date"></div>
                    </td>
                    <td>
                        <div data-bind="text: activity_type"></div>
                    </td>
                    <td>
                        <div class="text-right"
                             data-bind="text: display_seconds"></div>
                    </td>
                    <td>
                        <div class="text-right"
                             data-bind="text: km"></div>
                    </td>
                    <td>
                        <div class="text-right"
                             data-bind="text: display_average_pace_time"></div>
                    </td>
                    <td>
                        <div class="text-right"
                             data-bind="text: display_average_pace_distance"></div>
                    </td>
                </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>
