<div>
    <table border="1" width="25%" cellpadding="3">
        <tbody>
        <tr>
            <th colspan="11">
                <span style="float:right">
                    <a href="/david/?run=1&amp;month=10&amp;year=2016">
                        next
                    </a>
                </span>
                <span style="float:left">
                    <a href="/david/?run=1&amp;month=8&amp;year=2016">
                        previous
                    </a>
                </span>
            </th>
        </tr>
        <tr>
            <th style="text-align:center;">
                Date
            </th>
            <th style="text-align:center;">
                Time<br />(hh:mm:ss)
            </th>
            <th style="text-align:center;">
                Distance<br />(km)
            </th>
            <th style="text-align:center;">
                Avg Pace<br />(hh:mm:ss/km)
            </th>
        </tr>
        <!-- ko foreach: runs -->
        <tr>
            <td data-bind="text: date"></td>
            <td data-bind="text: seconds" style="text-align:right;"></td>
            <td data-bind="text: metres" style="text-align:right;"></td>
            <td data-bind="text: date" style="text-align:right;"></td>
        </tr>
        <!-- /ko -->
        </tbody>
    </table>
</div>