<div id="sub_main">
  <table class="runs table table-condensed table-hover">
    <thead>
      <tr class="table_nav">
        <th class="title" colspan="4">
          <i class="glyphicon glyphicon-refresh pull-right"
             style="padding-right:8px;"
             data-bind="click:reset_splits" title="Reset splits"></i>
          <div class="table_title">Split calculator</div>
        </th>
      </tr>
      <tr class="table_nav">
        <th>Minutes</th>
        <th>Seconds</th>
        <th>Speed(Km/hr)</th>
        <th class="text-center">-</th>
      </tr>
    </thead>
    <tbody data-bind="click:add_split, event:{change:update_splits}">
      <tr class="segment">
        <td>
          <input class="input minutes" type="text">
        </td>
        <td>
          <input class="input seconds" type="text">
        </td>
        <td>
          <input class="input speed" type="text">
        </td>
        <td class="text-center">
          <p>
            <i class="glyphicon glyphicon-plus"></i>
          </p>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="text-right" colspan="2">Total Time</td>
        <td class="text-left" colspan="2">
          <input id="total_time" type="text" style="font-weight:bold;"
                 disabled="disabled">
          minutes
        </td>
      </tr>
      <tr>
        <td class="text-right" colspan="2">Total Distance</td>
        <td class="text-left" colspan="2">
          <input id="total_distance" type="text" style="font-weight:bold;"
                 disabled="disabled">
          Km
        </td>
      </tr>
      <tr>
        <td class="text-right" colspan="2">Average Pace</td>
        <td class="text-left" colspan="2">
          <input id="average_pace_km_hr" type="text" style="font-weight:bold;"
                 disabled="disabled">
          Km/hr
        </td>
      </tr>
      <tr>
        <td class="text-right" colspan="2">Average Pace</td>
        <td class="text-left" colspan="2">
          <input id="average_pace_min_km" type="text" style="font-weight:bold;"
                 disabled="disabled">
          min/Km
        </td>
      </tr>
    </tfoot>
  </table>
</div>
